<h1>Orders</h1>
<hr>
<% @open_orders.each do |order| %>
  <p>ID: <%= order.id %></p>
  <p>Created: <%= order.created_at %></p>
  <p>Promotion Codes: <%= display_promotion_codes(order) %></p>
  <p>Discount Codes: <%= display_discount_code(order) %></p>
  <br>
  <p>Total price: €</p>
  <br>
  <%= form_with(model: order, method: :patch, local: false) do |f| %>
    <%= f.hidden_field :state, value: 'completed' %>
    <%= f.submit "Completed" %>
  <% end %>
  <% order.order_items.each do |item| %>
    <p><%= item.pizza.name %></p>
  <% end %>
  <hr>
<% end %>
